@import '../../styles/variables';
@import '../../styles/mixins';

.btn-def { 
  cursor: pointer;   
  width: max-content;
  //box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  @include button($color-accent, $color-primary);
}

.btn-default { 
  @extend .btn-def;
}

.btn-slightly-round { 
  @extend .btn-def;
  @include border-radius(5px);
}

.btn-slightly-round-shadow { 
  @extend .btn-def;
  @include border-radius(5px);
  @include border-shadow();
}

.btn-round { 
  @extend .btn-def;
  @include border-radius(30px);
}

.btn-round-shadow { 
  @extend .btn-def;
  @include border-radius(30px);
  @include border-shadow();
}
  
.btn-warning {
  @extend .btn-def;
  color: $warning-red;
  border: 1px solid $warning-red;

  &:hover,
  &:focus {
    background-color: $warning-red;
    color: #ffffff;
    border-color: #ffffff;
  }
}

.btn-primary {
  @extend .btn-def;
  color: $light-blue;
  border: 1px solid $light-blue;

  &:hover,
  &:focus {
    color: #ffffff;
    border-color: #ffffff;
    background-color: $light-blue;
  }
}