/*@import "mixins";

$color-primary: #0070f3;
.titile a {
  color: $color-primary;
}

@mixin background($imgpath,$position:0 0,$repeat: no-repeat) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
    }
}
.testing {
    @include background('/my/img/path.png');
}*/


/* Shared Variables */
:root {
  --headerHeight: 80px;
  --middleHeight: 300px;
  --footerHeight: 100px;
}

html,
body {
  padding: 0;
  margin: 0;
  padding: 0 3rem;
  line-height: 1.5;
  font-family: 'Open Sans', 'Lato', sans-serif;
  color: #414141;
 
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  color: #2b2b2b;
}

h1 {
  font-size: clamp(2rem, 1rem + 10vw , 5rem);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.center {
  margin: auto;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

#banner { min-height: 350px; display: flex; justify-content: center; 
  align-items: center; background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; 
  border: 1px solid red; background-image: url('http://localhost:1337/uploads/header_website_042cbcc21d.png');
}
